@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* Variáveis de background removidas para um fundo sólido */
}

/* @media (prefers-color-scheme: dark) { ... } */

body {
  background-color: #15803d; /* Tailwind green-700 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    font-family: 'Courier New', Courier, monospace;
  }
}